<h1>Learning</h1>
<p>
  question:<br>
  <%= @flashcard.question %>
</p>
<label>check answer</label>
<input type="checkbox">
<p class= "answer">
  answer:<br><br>
  <%= @flashcard.answer %><br>
description:<br>
  <%= @flashcard.description %>
