<div class="container">
  <h2 class="mt-3">
    学習
  </h2>
  <%= render partial: 'study' %>
</div>


<script>
  function toggleAnswerVisibility(button) {
    const row = button.parentNode.parentNode;
    const answer = row.querySelector(".answer-hidden");
    const discription = row.querySelector(".discription-hidden");

    if (answer.style.visibility === "visible") {
      answer.style.visibility = "hidden";
    } else {
      answer.style.visibility = "visible";
    }
    if (discription.style.visibility === "visible") {
      discription.style.visibility = "hidden";
    } else {
      discription.style.visibility = "visible";
    }
  }
</script>