<h1>  Show </h1>
<p>
  category:<br>
  <%= @flashcard.category %>
</p>

<p>
  question:<br>
  <%= @flashcard.question %>
</p>

<p>
  answer:<br>
  <%= @flashcard.answer %>
</p>

<p>
  description:<br>
  <%= @flashcard.description %>
</p>