<div class="show-main pt-3">
  <div class="container">
    <p class="show-field">
      種類:<br>
      <%= @flashcard.category %>
    </p>

    <p class="show-field">
      問題:<br>
      <%= @flashcard.question %>
    </p>

    <p class="show-field">
      答え:<br>
      <%= @flashcard.answer %>
    </p>

    <p class="show-field">
      解説:<br>
      <%= @flashcard.description %>
    </p>

  </div>
</div>