.select-field {
  height: 35px;
  width: 135px;
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
}

.search-field {
  height: 35px;
  width: 135px;
  border-radius: 10px;
  font-size: 14px;
  padding: 4px;
}

table.table-main {
  display: flex;
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.table-main th{
  line-height: 3em;
  background-color: #EEEEEE;
}

.table-main td {
  height: 80px;
  padding: 4px;
}

.first-column {
  width: 15vw;
}

.second-column {
  width: 60vw;
}

.third-column {
  width: 10vw;
}
