.flashcard-header {
  display: flex;
  justify-content: space-between;
}

.search-field {
  border-radius: 10px;
  padding: 4px;
}

table.table-main {
  display: flex;
  text-align: center;
  width: 100%;
}

.table-main th{
  line-height: 3em;
}

.first-column {
  width: 5vw;
}

.second-column {
  width: 15vw;
}

.third-column {
  width: 20vw;
}

.forth-column {
  width: 20vw;
}

.fifth-column {
  width: 20vw;
}

.table-main td {
  height: 80px;
}