.answer-hidden {
  visibility: hidden;
}
.discription-hidden {
  visibility: hidden;
}

.learning-main {
  font-size: 14px;
  text-align: center;
}

.learning-main th {
  line-height: 3em;
}

.learning-main td {
  height: 80px;
  padding: 4px;
}

.learning-first {
  width: 15vw;
}

.learning-second {
  width: 20vw;
}

.learning-third {
  width: 20vw;
}

.learning-forth {
  width: 20vw;
}

.learning-fifth {
  width: 10vw;
}

.learning-sixth {
  width: 10vw;
}